body { background-color: #1c1c1f !important; height: 100vh; }

.main { text-align: center; margin-top: 35px; background-color: #1c1c1f; font-family: Raleway; }

html { background-color: #1c1c1f; }

.superheader { font-size: 100px; font-weight: 900; color: #23c0df; text-shadow: #000000; margin-top: 40px; }

.texto1 { font-size: 28px; color: #ffffff; width: 60%; margin: 0 auto; padding: 15px; }

.texto2 { font-size: 20px; color: #ffffff; width: 60%; margin: 0 auto; }

input#inlineFormInputGroup { outline-color: #ffffff !important; background-color: inherit !important; width: 433px; border-radius: 0px; border-left: none !important; height: 49px; color: #ffffff !important; font-weight: 400; font-size: 21px; }

button.btn.btn-primary.mb-2 { background-color: #23c0df; border-color: #23c0df; border-radius: 0px; padding: 6px 56px; color: black; font-family: Raleway; font-weight: 900; letter-spacing: 3px; height: 49px; }

button.btn.btn-primary.mb-2:hover { background-color: #6be6ff; color: #000000; }

.input-group-text { background-color: inherit !important; border-radius: inherit !important; border-right: none !important; }

.col-auto { padding-right: 0px !important; padding-left: 0px !important; }

.espacio { margin-left: 50px; }

iframe { width: 100%; height: calc(100ew / eval("width/height")); }

@media only screen and (max-width: 480px) { .superheader { font-size: 78px !important; font-weight: 900; color: #23c0df; text-shadow: #000000; margin-top: 40px; line-height: 75px; }
  input#inlineFormInputGroup { outline-color: #ffffff !important; background-color: inherit !important; width: 74%; border-radius: 0px; border-left: none !important; height: 49px; color: #ffffff !important; font-weight: 400; font-size: 21px; }
  .texto1, .texto2 { width: 100%; }
  button.btn.btn-primary.mb-2 { width: 100% !important; }
  .col-auto { -ms-flex: 0 0 auto; flex: 0 0 auto; width: 100% !important; max-width: none; }
  .espacio { margin-left: 0px; } }

/*# sourceMappingURL=style.css.map */
